html,
body {
  margin: auto;
  max-width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  /* background-color: rgb(17, 16, 16);*/
}
.sidebar {
  background-color: #060618;
  color: whitesmoke;
  float: left;
  width: 48vh;
  height: 100vh;

  position: fixed;
  left: 0;
  border-right: 2px solid black;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar > .avatar {
  display: flex;
  flex-direction: row;
  padding: 10px 0 15px 15px;

  align-items: center;
}
.pic {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
.sidebar > .avatar > h1 {
  padding-left: 10px;
  font-weight: normal;
}

.sidebar > .menu > .item {
  display: grid;
  grid-template-columns: 30px 200px 30px;
  grid-gap: 10px;
  align-items: center;
  padding: 10px;
}
.sidebar > .menu > .item > h2 {
  font-size: 20px;

  font-weight: normal;
}
.sidebar > .menu > .item > button {
  background-color: Transparent;
  background-repeat: no-repeat;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.header {
  clear: left;
  float: right;
  width: 76.7%;
  border-bottom: 1.5px solid black;
  height: 50px;
  font-size: 20px;
  color: black;
  background-color: rgb(233, 229, 223);

  display: flex;
  justify-content: space-between;
}

.header > .avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 20px;
}

.dp {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding-right: 10px;
}
.header > .avatar > h2 {
  font-weight: normal;
}
.header > .avatar > button {
  background-color: Transparent;
  background-repeat: no-repeat;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

.header > .hamburger > button {
  background-color: Transparent;
  background-repeat: no-repeat;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
  color: #2f2f86;
}
main {
  clear: left;
  float: right;
  width: 76.7%;
  background-color: #f5f2f2;
}
.body {
  padding: 18px 15px;
}

.body > h2 {
  font-weight: 450;
  font-size: 30px;
}

.body > h2 > span {
  color: gray;
  font-size: 20px;
}

#date {
  width: 300px;
  line-height: 20px;
  border: 1px solid gray;
}
